.container-inf{
    background-color: #0282f9;
    padding: 50px 5%;
    color: white;
}

.container-inf .container{
    display: flex;
}

.container-inf .box{
    display: flex;
    align-items: center;    
}
